@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello World</h1>
    <img src="https://www.albertovarela.net/blog/2016/09/its-alive/images/its-alive-og_hue59a81005f417dd23607580e311e0464_132040_1200x0_resize_q90_h2_linear.webp">
</div>
